* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-image: linear-gradient(aqua, #8f72e2);
  width: 26rem;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  padding: 2rem;
  border-radius: 5%;
}
.container h1 {
  font-weight: 400;
  padding-bottom: 1rem;
}
.container h4 {
  font-weight: 400;
  padding-bottom: 1rem;
}
input {
  padding: 0.7rem 5rem 0.7rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.container button {
  border: none;
  background-color: transparent;
}
i {
  padding: 0.5rem;
}
img {
  width: 5rem;
}
.container h2 {
  font-size: 4rem;
  padding: 1rem;
}
.container p {
  font-size: 1.2rem;
}
.container h3 {
  padding: 1rem;
  color: #332c39;
  font-size: 1.4rem;
}
.container h3 i {
  color: #fc2947;
  font-size: 1.9rem;
}
hr {
  margin: 1rem;
  border: 1px solid yellow;
}
.row {
  display: flex;
  justify-content: space-between;
}
.one {
  background-color: white;
  padding: 1rem 0.2rem;
  width: 6rem;
  height: 8.2rem;
  border-radius: 7%;
}
.one img {
  width: 3rem;
}
.one p {
  font-size: 0.9rem;
  padding: 0.2rem;
}

/* Media query */
@media screen and (max-width: 720px) {
  .container {
    width: 23rem;
    margin-top: 1rem;
  }
}
